@model IEnumerable<Laptopshop.Models.Supplier>
<div class="categories">
    <h3>Thương Hiệu</h3>
    <ul class="tree-list-pad">
        @foreach (var item in Model)

        {
        <li>
            <strong><span><a href="~/Product/ListBySupplier/@item.Id">@item.Name</a></span></strong>

        </li>
        }
    </ul>
</div>

