@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    K23T01<br />
    Văn Lang<br />
    <abbr title="Phone">P:</abbr>
    0395713199
</address>

<address>
    <strong>Hô trợ:</strong>   <a href="mailto:Support@example.com">Support@vanlanguni.vn</a><br />
    <strong>Quảng cáo:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>