@*<div class="nn-cart gw-droppable">
        <div class="panel panel-default">
            <div class="panel-body">
                <img id="cart-img" class="col-sm-5" src="~/images/shoppingcart.gif" />
                <ul class="col-sm-7">
                    <li><span id="cart-cnt">@ShoppingCart.Cart.Count </span> Items</li>
                    <li>$<span id="cart-amt"> @ShoppingCart.Cart.Amount</span></li>
                    <li><a href="/Cart/Index">View Cart</a></li>
                </ul>
            </div>
        </div>
    </div>*@
<div class="nn-cart gw-droppable">
    <div class="header-right2">
        <div class="cart box_1">
            <a href="~/Cart/Index">
                
                <h3>
                    <img id="cart-img" src="~/Content 3/images/bag.png" alt="" />
                    <span id="cart-cnt">@ShoppingCart.Cart.Count </span> Sản Phẩm

                    <span id="cart-amt"> @ShoppingCart.Cart.Amount</span> VNĐ

                </h3>


            </a>

            <p><a href="~/Cart/Index" class="simpleCart_empty">Giỏ hàng của bạn</a></p>
            <div class="clearfix"> </div>
        </div>
    </div>
    </div>
    <style id="cart-fly">
    </style>
   
