
<div class="nn-cart gw-droppable">
    <div class="header-right2">
        <div class="cart box_1">
            <a href="~/Cart/Index">
                
                <h3>
                    <img id="cart-img" src="~/Content 3/images/bag.png" alt="" />
                    <span id="cart-cnt">@ShoppingCart.Cart.Count </span> 
                </h3>


            </a>

            <p><a href="~/Cart/Index" class="simpleCart_empty">Giỏ hàng của bạn</a></p>
            <div class="clearfix"> </div>
        </div>
    </div>
    </div>
    <style id="cart-fly">
    </style>
   
