@model IEnumerable<Laptopshop.Models.Supplier>
@*<ul class="nav navbar-nav">
        <li><a href="/Home/Index"><span class="glyphicon glyphicon-home"></span> Trang chủ</a></li>
        <li><a href=""><span class="glyphicon glyphicon-th-list"></span> Giới thiệu</a></li>
        <li><a href=""><span class="glyphicon glyphicon-earphone"></span> Liên hệ</a></li>
        <li><a href=""><span class="glyphicon glyphicon-envelope"></span> Góp ý</a></li>
        <li><a href=""><span class="glyphicon glyphicon-question-sign"></span> Hỏi đáp</a></li>
        <li class="dropdown">


            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Tài khoản <span class="caret"></span></a>
            <ul class="dropdown-menu">

                @if (!XUser.Authenticated)
        {

            <li><a href="/Account/Login">Đăng nhập</a></li>
            <li><a href="/Account/Forgot">Quên mật khẩu</a></li>
            <li><a href="/Account/Register">Đăng ký thành viên</a></li>
    }
    else
    {

            <li><a href="/Account/Logout">Đăng xuất</a></li>
            <li><a href="/Account/Change">Đổi mật khẩu</a></li>
            <li><a href="/Account/Edit">Cập nhật hồ sơ</a></li>
            <li class="divider"></li>
            <li><a href="/Order/List">Đơn hàng</a></li>
            <li><a href="/Order/Items">Hàng đã mua</a></li>
    }


            </ul>
        </li>
    </ul>*@

