@*<div>

    <div class="panel-body">
        @using (Html.BeginForm("Search", "Product"))
        {
            @Html.TextBox("Keywords", null, new { placeholder = "Search", @class = "form-control" })
        }
    </div>

</div>*@
<div class="logo-nav-right">
    <ul class="cd-header-buttons">
        <li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
    </ul> <!-- cd-header-buttons -->
    <div id="cd-search" class="cd-search">
        @using (Html.BeginForm("Search", "Product"))
        {
        <form action="#" method="post">
            <input name="Keywords" type="search" placeholder="Search..." />
        </form>
        }
    </div>
</div>