<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-star-empty"></span>
        <strong>Hàng đặc biệt</strong>
    </div>

    <div class="list-group">
        <a href="/Product/ListBySpecial/BEST" class="list-group-item">Hàng bán chạy</a>
        <a href="/Product/ListBySpecial/LATEST" class="list-group-item">Hàng mới</a>
        <a href="/Product/ListBySpecial/PROMO" class="list-group-item">Hàng giảm giá</a>
        <a href="/Product/ListBySpecial/SPECIAL" class="list-group-item">Hàng đặc biệt</a>
        <a href="/Product/ListBySpecial/VIEWS" class="list-group-item">Hàng xem nhiều</a>
    </div>
</div>
