@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h1>4TWELVE SHOP</h1>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.795972899136!2d106.69631291433711!3d10.826920061221314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528f4a62fce9b%3A0xc99902aa1e26ef02!2zxJDhuqFpIEjhu41jIFbEg24gTGFuZw!5e0!3m2!1svi!2s!4v1559150054531!5m2!1svi!2s" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
